.container {
	display: flex;
	/* grid-template-columns: 7fr 3fr; */
}

.myId {
	margin-right: 1rem;
	border-radius: 10px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 620px;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: flex;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: 1rem;
	margin-left: 1rem;

}

.caller {
	position: absolute;
	top: 300px;
	left: 500px;
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	color: #fff;
	border: 1px solid rgb(120, 171, 238);
	border-radius: 10px;
	background-color: #fff;
	padding: 5px;
	width: 400px;
	height: fit-content;
}
.caller h4 {
	color: black;
	margin-right: 10px;
}

body {
	background: #4776e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2ca5ad, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2ca5ad,
		#4776e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.end-call-button{
	border-radius: 10px;
}
.myControl{
	margin-right: 1rem;
	border-radius: 10px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 620px;
}

video {
	border-radius: 10px;
}
.arrow-direct-img{
	width: 50px;
}



/* video area*/

.video-area{
	display: flex;
	flex-direction: column;
	position: relative;
}
.span-name{
	position: absolute;
	top: 1%;
	left: 1%;
	font-weight: bold;
	color: rgba(255, 0, 0, 0.842);
	font-size: 15px;
}

/*control-tab*/
.control-tab{
	padding: 3px;
	margin: 1rem
}
.control-tab h5{
	margin-top: 1rem;
}
.btn-control:hover{
    transform: scale(1.2,1.2);
    transition: transform 0.3s ease;
}
.login{
	align-items: center;
	color: rgb(38, 57, 165);
	font-weight: bold;
	margin-left: 10px;
}
.top-view{
	position: relative; 
	top: -10px;
	background-color: "red",
}